.container{
  height: 7000;
  width: 7000;
}

.center {
  margin: 0;
  position: relative;
  top: auto;
  left: 50%;
  -ms-transform: translate(0%, 0%);
  transform: translate(-50%, -50%);
}